.show-option-list {
  padding: 0px;
  margin: 0px;
}

.show-option {
  display: block;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.075); 
  margin-bottom: 5px;
}

.show-option span {
  font-size: 14px;
  cursor: pointer;
}

.units-toggle-container > :nth-child(2) {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 3px;
}

.option-default:hover{
  color: #19AB27;
  opacity: 1;
}

.units-toggle-container {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.option-active {
  color: white;
}

.option-default {
  color: lightgrey;
  opacity: .5;
}

@media only screen and (max-width: 700px) {
  .units-toggle-container {
    width: 70%;
  }  
}
