.icon-top-left {
  width: 18px;
  height: 18px;
}

.settings-modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 650px;
  height: 450px;
  overflow: auto;
  background-color: rgba(15, 15, 15, 0.925);
  margin-top: 50px;
  margin-left: 20px;
  border: 1px solid #888;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  padding: 5px;
  flex-basis: 5%;
}

.close:hover, .close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.settings-panes {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.settings-side-menu {
  flex-basis: 20%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.075);
}

.settings-side-menu ul {
  padding: 0px;
  margin: 0px;
}

.settings-side-menu li {
  font-size: 16px;
  cursor: pointer;  
  list-style-type: none;
  margin-bottom: 20px;
  color: lightgray;  
}

.settings-side-menu #aboutPane {
  font-size: 12px;
  opacity: .4;
}

.settings-side-menu li:hover, .settings-side-menu .menu-active {
  color: white;
}

.settings-main-pane {
  padding: 10px;
  flex-basis: 65%
}

.settings-main-pane h1 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}