{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb-base",
  "env": {
	    "browser": true,
	    "node": true,
	    "webextensions": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "rules": {
    "no-use-before-define": ["error", { "functions": false }],
    "no-mixed-operators": [ "error", { "allowSamePrecedence": true }]
  }
}
