{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },  
  "extends": [
    "eslint-config-airbnb-base",
    "plugin:react/recommended"
  ],
  "env": {
	    "browser": true,
	    "node": true,
	    "webextensions": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.common.js"
      }
    }
  },
  "rules": {
    "no-use-before-define": ["error", { "functions": false }],
    "no-mixed-operators": [ "error", { "allowSamePrecedence": true }],
    "max-len": ["off"],
    "no-console": "off",
    "react/prop-types": "off",
    "class-methods-use-this": "off"
  },
  "plugins": [
    "react"
  ]  
}
