.askName-label {
  font-size: 75px;
  text-align: center;
}

.askName-input {
  width: 50%;
  margin: 0% 5%;
  outline: none;
  border: none;
  height: 40px;
  color: #FFF;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  border-bottom: 3px solid #FFF;
  background: transparent;
}

.askToDo-label {
  margin-top: 30px;
  padding-top: 15px;
  font-size: 35px;
  text-align: center;
}

.askToDo-input {
  width: 50%;
  margin: 0% 10%;
  outline: none;
  border: none;
  height: 30px;
  color: #FFF;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  border-bottom: 3px solid #FFF;
  background: transparent;
}

.todo-input {
  border: none;
  outline: none;
  background: transparent;
  color: #FFF;
  width: 90%;
  height: 30px;
  font-size: 16px;
  margin-left: 5%;
  margin-right: 5%;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .askToDo-label  {
    font-size: 20px;
  }
  .askName-label {
    font-size:50px;
  }
  .askName-input, .askToDo-input {
    width: 80%;
  }
}