/* Layout */

html, body, #root {
  height: 100%;
  margin: 0;
  font-size: 15px;
  text-shadow: 1px 1px 7px black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  color: white;
  font-weight: 500;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  z-index: 10;
}

.top-row, .bottom-row {
  margin: 10px 20px;
  justify-content: space-between;
}

.top-row {
  height: 40px;
}

.bottom-row {
  height: 75px;
  align-items: center;
}

.middle-row {
  justify-content: center;
  align-items: center;
}

.todo-list-container, .wallpaper-info-container{
  flex-grow: 1;
  flex-basis: 25%;
}

.quote-container {
  flex-grow: 2;
  flex-basis: 50%
}

.hide {
  display: none;
}

@media only screen and (max-width: 700px) {
  .bottom-row {
    flex-direction: column-reverse;
    height: 200px;
  }
  .quote-container {
    width: 95%;
    flex-basis: 25%;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
  .wallpaper-info-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .photographer-container {
    justify-content: center;
  }
  #center {
    height: 50%;
  }
  .todo-list-container {
    align-items: center;
    justify-content: center;    
  } 
  .hide700 {
    display: none;
  }  
  .show700 {
    display: block;
  }  
  .toggle-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }  
}

@media only screen and (min-width: 701px) {
  .show700 {
    display: none;
  }
}
