/* Layout */

html, body, #root {
  height: 100%;
  margin: 0;
}

main {
  color: white;
  /* text-shadow: 0 1px 0 black;  */
  font-weight: 500;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
}

.top-row, .bottom-row {
  margin: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.middle-row {
  justify-content: center;
  align-items: center;
}

#bottom-left, #to-do-list {
  flex-grow: 1;
  flex-basis: 25%;
}

/* .bottom-row {
  height: 100px;
  background: linear-gradient(0deg, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .15) 40%, transparent);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0px, rgba(0, 0, 0, 0.15) 40%, transparent);
} */