/* Layout */

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  color: white;
  font-weight: 500;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  z-index: 10;
}

.top-row, .bottom-row {
  margin: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

 .top-row {
  height: 40px;
} 

.bottom-row {
  height: 75px;
} 

.middle-row {
  justify-content: center;
  align-items: center;
}

.wallpaper-info-container, .todo-list-container{
  flex-grow: 1;
  flex-basis: 25%;
}

.quote-container {
  flex-grow: 2;
  flex-basis: 50%
}
