.toDoItem-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  letter-spacing: 1.5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
} 

.toDoItem-container > * {
  margin: 5px 8px;
}

.toDoItemList-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  height: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.todoItemList {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  text-align: left;
}

.todos-list {
  margin-left: 5%;
  margin-right: 2%;
  padding-left: 0;
  width: 93%;
}

.focusToDo-checkbox {
  width: 25px;
  height: 25px;
  opacity: 0;
  cursor: pointer;
}

.toDo-checkbox {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.toDoItemList-container:hover .deleteButton-todoList {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.toDoItem-container:hover > * > * {
  opacity: 1;
  transition: all 0.5s ease;
}

.toDoCross {
  text-decoration: line-through;
}

.deleteButton {
  border-radius: 50%;
  color: #FFF;
  opacity: 0;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
}

.deleteButton:hover {
  border: 1px solid #EEE;
  transition-delay: 0.1s;
}

.plus-sign, .letterX {
  position: relative;
  height: 35%;
  width: 35%;
  margin: 32.5% 32.5%;
}

.letterX-todoList {
  position: relative;
  height: 40%;
  width: 40%;
  margin: 30% 30%;
}

.deleteButton-todoList {
  border-radius: 50%;
  color: #FFF;
  height: 13px;
  width: 13px;
  opacity: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
}

.deleteButton-todoList:hover {
  border: 1px solid #EEE;
  transition-delay: 0.2s;
}