.top-left-flex {
  display: flex;
  justify-content: space-around;
}

.top-left-flex a {
  margin: 0px 10px;
}

#chrome-search-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #FFF;
  width: 250px;
  caret-color: white;
  color: white;
}

#chrome-search-input:focus, #chrome-search-input:active {
  border: none;
  border-bottom: 2px solid #FFF;
  outline: none;
}

#search-div {
  display: flex;
  align-items: center;
}

#search-div>a {
  margin-right: 10px;
}

.icon-top-left {
  width: 18px;
  height: 18px;
  filter: drop-shadow( 1px 1px 1px grey );
}
