#chrome-search-input {
  border: none;
  border-bottom: 2px solid #D3D3D3;
  width: 250px;
}

#chrome-search-input:focus, #chrome-search-input:active {
  border: none;
  border-bottom: 2px solid #D3D3D3;
  outline: none;
}

#search-div {
  display: flex;
  align-items: center;
}

#search-div>a {
  margin-right: 10px;
}
